.e37_261 { 
	overflow:hidden;
}
.e37_261 { 
	width:842px;
	height:3570px;
	position:absolute;
}
.e36_10 { 
	background-color:rgba(5.000000176951289, 39.00000147521496, 92.00000211596489, 1);
	width:842px;
	height:595px;
	position:absolute;
	left:0px;
	top:0px;
}
.e36_11 { 
	width:388px;
	height:363px;
	position:absolute;
	left:383px;
	top:121px;
}
.e36_12 { 
	transform: rotate(180deg);
	width:312px;
	height:312px;
	position:absolute;
	left:350px;
	top:23px;
}
.e36_13 { 
	width:120px;
	height:45px;
	position:absolute;
	left:134px;
	top:0px;
}
.ei36_13_0_357 { 
	box-shadow:0px 2px 10px rgba(0, 0, 0, 0.2517755627632141);
	background-color:rgba(0, 191.00000381469727, 178.00000458955765, 1);
	width:120px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:14.5px;
	border-top-right-radius:14.5px;
	border-bottom-left-radius:14.5px;
	border-bottom-right-radius:14.5px;
}
.ei36_13_0_358 { 
	box-shadow:0px 2px 4px rgba(0, 0, 0, 0.10000000149011612);
	color:rgba(255, 255, 255, 1);
	width:120px;
	height:29px;
	position:absolute;
	left:0px;
	top:8px;
	font-family:Circe;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e36_14 { 
	width:120px;
	height:45px;
	position:absolute;
	left:268px;
	top:93px;
}
.ei36_14_0_357 { 
	box-shadow:0px 2px 10px rgba(0, 0, 0, 0.2517755627632141);
	background-color:rgba(0, 191.00000381469727, 178.00000458955765, 1);
	width:120px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:14.5px;
	border-top-right-radius:14.5px;
	border-bottom-left-radius:14.5px;
	border-bottom-right-radius:14.5px;
}
.ei36_14_0_358 { 
	box-shadow:0px 2px 4px rgba(0, 0, 0, 0.10000000149011612);
	color:rgba(255, 255, 255, 1);
	width:120px;
	height:29px;
	position:absolute;
	left:0px;
	top:8px;
	font-family:Circe;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e36_17 { 
	width:120px;
	height:45px;
	position:absolute;
	left:268px;
	top:236px;
}
.ei36_17_0_357 { 
	box-shadow:0px 2px 10px rgba(0, 0, 0, 0.2517755627632141);
	background-color:rgba(0, 191.00000381469727, 178.00000458955765, 1);
	width:120px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:14.5px;
	border-top-right-radius:14.5px;
	border-bottom-left-radius:14.5px;
	border-bottom-right-radius:14.5px;
}
.ei36_17_0_358 { 
	box-shadow:0px 2px 4px rgba(0, 0, 0, 0.10000000149011612);
	color:rgba(255, 255, 255, 1);
	width:120px;
	height:29px;
	position:absolute;
	left:0px;
	top:8px;
	font-family:Circe;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e36_18 { 
	width:120px;
	height:45px;
	position:absolute;
	left:134px;
	top:318px;
}
.ei36_18_0_357 { 
	box-shadow:0px 2px 10px rgba(0, 0, 0, 0.2517755627632141);
	background-color:rgba(0, 191.00000381469727, 178.00000458955765, 1);
	width:120px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:14.5px;
	border-top-right-radius:14.5px;
	border-bottom-left-radius:14.5px;
	border-bottom-right-radius:14.5px;
}
.ei36_18_0_358 { 
	box-shadow:0px 2px 4px rgba(0, 0, 0, 0.10000000149011612);
	color:rgba(255, 255, 255, 1);
	width:120px;
	height:29px;
	position:absolute;
	left:0px;
	top:8px;
	font-family:Circe;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e36_20 { 
	width:120px;
	height:45px;
	position:absolute;
	left:0px;
	top:236px;
}
.ei36_20_0_357 { 
	box-shadow:0px 2px 10px rgba(0, 0, 0, 0.2517755627632141);
	background-color:rgba(0, 191.00000381469727, 178.00000458955765, 1);
	width:120px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:14.5px;
	border-top-right-radius:14.5px;
	border-bottom-left-radius:14.5px;
	border-bottom-right-radius:14.5px;
}
.ei36_20_0_358 { 
	box-shadow:0px 2px 4px rgba(0, 0, 0, 0.10000000149011612);
	color:rgba(255, 255, 255, 1);
	width:120px;
	height:29px;
	position:absolute;
	left:0px;
	top:8px;
	font-family:Circe;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e36_22 { 
	width:120px;
	height:45px;
	position:absolute;
	left:0px;
	top:93px;
}
.ei36_22_0_357 { 
	box-shadow:0px 2px 10px rgba(0, 0, 0, 0.2517755627632141);
	background-color:rgba(0, 191.00000381469727, 178.00000458955765, 1);
	width:120px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:14.5px;
	border-top-right-radius:14.5px;
	border-bottom-left-radius:14.5px;
	border-bottom-right-radius:14.5px;
}
.ei36_22_0_358 { 
	box-shadow:0px 2px 4px rgba(0, 0, 0, 0.10000000149011612);
	color:rgba(255, 255, 255, 1);
	width:120px;
	height:29px;
	position:absolute;
	left:0px;
	top:8px;
	font-family:Circe;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e36_23 { 
	color:rgba(255, 255, 255, 1);
	width:270.2137756347656px;
	height:100px;
	position:absolute;
	left:70px;
	top:60px;
	font-family:Circe;
	text-align:left;
	font-size:54px;
	letter-spacing:0;
	line-height:px;
}
.e36_24 { 
	color:rgba(133.98182898759842, 133.98182898759842, 133.98182898759842, 1);
	width:190.40379333496094px;
	height:66px;
	position:absolute;
	left:30.40380096435547px;
	top:466.4300537109375px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e36_25 { 
	color:rgba(255, 255, 255, 1);
	width:205px;
	height:195px;
	position:absolute;
	left:70px;
	top:180px;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e36_53 { 
	background-color:rgba(255, 255, 255, 1);
	width:842px;
	height:595px;
	position:absolute;
	left:0px;
	top:595px;
}
.e36_54 { 
	width:842px;
	height:183px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei36_54_0_360 { 
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:842px;
	height:183px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei36_54_0_361 { 
	color:rgba(133.98182898759842, 133.98182898759842, 133.98182898759842, 1);
	width:419px;
	height:56px;
	position:absolute;
	left:65px;
	top:122px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.ei36_54_0_362 { 
	box-shadow:0px 2px 4px rgba(0, 0, 0, 0.05000000074505806);
	color:rgba(0, 0, 0, 1);
	width:711px;
	height:50px;
	position:absolute;
	left:63px;
	top:63px;
	font-family:Circe;
	text-align:left;
	font-size:54px;
	letter-spacing:0;
	line-height:px;
}
.e36_55 { 
	color:rgba(56.705162823200226, 56.705162823200226, 56.705162823200226, 1);
	width:342px;
	height:113px;
	position:absolute;
	left:65px;
	top:234px;
	font-family:Circe;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e36_57 { 
	border:1px solid rgba(231.93826228380203, 231.93826228380203, 231.93826228380203, 1);
}
.e36_57 { 
	width:342px;
	height:1px;
	position:absolute;
	left:65px;
	top:354px;
}
.e36_59 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:238px;
	height:24px;
	position:absolute;
	left:65px;
	top:208px;
	font-family:Circe;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e36_61 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:184px;
	height:24px;
	position:absolute;
	left:65px;
	top:374px;
	font-family:Circe;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e36_62 { 
	color:rgba(56.705162823200226, 56.705162823200226, 56.705162823200226, 1);
	width:342px;
	height:46px;
	position:absolute;
	left:65px;
	top:400px;
	font-family:Circe;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e37_207 { 
	width:168px;
	height:298px;
	position:absolute;
	left:621px;
	top:183px;
	background-image:url(images/unnamed__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_206 { 
	width:168px;
	height:298.6666564941406px;
	position:absolute;
	left:506px;
	top:296px;
	background-image:url(images/unnamed_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_205 { 
	width:120px;
	height:120px;
	position:absolute;
	left:714px;
	top:457px;
	background-image:url(images/unnamed__2__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_204 { 
	width:120px;
	height:120px;
	position:absolute;
	left:484px;
	top:194px;
	background-image:url(images/unnamed__3__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_76 { 
	background-color:rgba(255, 255, 255, 1);
	width:842px;
	height:595px;
	position:absolute;
	left:0px;
	top:1190px;
}
.e36_77 { 
	width:842px;
	height:183px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei36_77_0_360 { 
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:842px;
	height:183px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei36_77_0_362 { 
	box-shadow:0px 2px 4px rgba(0, 0, 0, 0.05000000074505806);
	color:rgba(0, 0, 0, 1);
	width:711px;
	height:50px;
	position:absolute;
	left:63px;
	top:63px;
	font-family:Circe;
	text-align:left;
	font-size:54px;
	letter-spacing:0;
	line-height:px;
}
.e36_78 { 
	color:rgba(56.705162823200226, 56.705162823200226, 56.705162823200226, 1);
	width:205px;
	height:156px;
	position:absolute;
	left:451px;
	top:235px;
	font-family:Circe;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e36_79 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:158px;
	height:24px;
	position:absolute;
	left:451px;
	top:208px;
	font-family:Circe;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e36_80 { 
	color:rgba(56.705162823200226, 56.705162823200226, 56.705162823200226, 1);
	width:350px;
	height:119px;
	position:absolute;
	left:65px;
	top:445px;
	font-family:Circe;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e36_81 { 
	width:349px;
	height:184px;
	position:absolute;
	left:65px;
	top:209px;
}
.e36_83 { 
	overflow:hidden;
}
.e36_83 { 
	box-shadow:0px 2px 20px rgba(0, 0, 0, 0.2527589499950409);
	background-color:rgba(29.78577710688114, 148.49267274141312, 171.15488469600677, 1);
	width:349px;
	height:184px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e36_82 { 
	box-shadow:0px 2px 20px rgba(0, 0, 0, 0.2527589499950409);
	background-color:rgba(29.78577710688114, 148.49267274141312, 171.15488469600677, 1);
	width:349px;
	height:184px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e37_211 { 
	width:121px;
	height:121px;
	position:absolute;
	left:228px;
	top:63px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_6_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_85 { 
	color:rgba(255, 255, 255, 1);
	width:201px;
	height:24px;
	position:absolute;
	left:84px;
	top:224px;
	font-family:Circe;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e36_86 { 
	color:rgba(255, 255, 255, 1);
	width:300px;
	height:135px;
	position:absolute;
	left:84px;
	top:256px;
	font-family:Circe;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e36_89 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:141px;
	height:24px;
	position:absolute;
	left:65px;
	top:419px;
	font-family:Circe;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e36_93 { 
	border:1px solid rgba(231.93826228380203, 231.93826228380203, 231.93826228380203, 1);
}
.e36_93 { 
	width:206px;
	height:2px;
	position:absolute;
	left:450.625px;
	top:401.375px;
}
.e36_173 { 
	background-color:rgba(255, 255, 255, 1);
	width:842px;
	height:595px;
	position:absolute;
	left:0px;
	top:1785px;
}
.e36_174 { 
	width:842px;
	height:183px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei36_174_0_360 { 
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:842px;
	height:183px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei36_174_0_361 { 
	color:rgba(133.98182898759842, 133.98182898759842, 133.98182898759842, 1);
	width:419px;
	height:56px;
	position:absolute;
	left:65px;
	top:122px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.ei36_174_0_362 { 
	box-shadow:0px 2px 4px rgba(0, 0, 0, 0.05000000074505806);
	color:rgba(0, 0, 0, 1);
	width:711px;
	height:50px;
	position:absolute;
	left:63px;
	top:63px;
	font-family:Circe;
	text-align:left;
	font-size:54px;
	letter-spacing:0;
	line-height:px;
}
.e36_177 { 
	color:rgba(56.705162823200226, 56.705162823200226, 56.705162823200226, 1);
	width:495px;
	height:119px;
	position:absolute;
	left:63px;
	top:257px;
	font-family:Circe;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e37_213 { 
	color:rgba(56.705162823200226, 56.705162823200226, 56.705162823200226, 1);
	width:656px;
	height:119px;
	position:absolute;
	left:63px;
	top:409px;
	font-family:Circe;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e36_182 { 
	color:rgba(255, 255, 255, 1);
	width:185px;
	height:24px;
	position:absolute;
	left:84px;
	top:224px;
	font-family:Circe;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e36_186 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:172px;
	height:24px;
	position:absolute;
	left:65px;
	top:224px;
	font-family:Circe;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e37_212 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:110px;
	height:24px;
	position:absolute;
	left:65px;
	top:376px;
	font-family:Circe;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e36_122 { 
	background-color:rgba(255, 255, 255, 1);
	width:842px;
	height:595px;
	position:absolute;
	left:0px;
	top:2380px;
}
.e36_123 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:212px;
	height:24px;
	position:absolute;
	left:65px;
	top:209px;
	font-family:Circe;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e37_214 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:125px;
	height:24px;
	position:absolute;
	left:65px;
	top:364px;
	font-family:Circe;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e36_124 { 
	width:842px;
	height:183px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei36_124_0_360 { 
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:842px;
	height:183px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei36_124_0_362 { 
	box-shadow:0px 2px 4px rgba(0, 0, 0, 0.05000000074505806);
	color:rgba(0, 0, 0, 1);
	width:711px;
	height:50px;
	position:absolute;
	left:63px;
	top:63px;
	font-family:Circe;
	text-align:left;
	font-size:54px;
	letter-spacing:0;
	line-height:px;
}
.e36_125 { 
	color:rgba(56.705162823200226, 56.705162823200226, 56.705162823200226, 1);
	width:398px;
	height:85px;
	position:absolute;
	left:65px;
	top:244px;
	font-family:Circe;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e37_215 { 
	color:rgba(56.705162823200226, 56.705162823200226, 56.705162823200226, 1);
	width:398px;
	height:85px;
	position:absolute;
	left:63px;
	top:399px;
	font-family:Circe;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e36_133 { 
	border:1px solid rgba(231.93826228380203, 231.93826228380203, 231.93826228380203, 1);
}
.e36_133 { 
	width:399px;
	height:2px;
	position:absolute;
	left:65px;
	top:336px;
}
.e37_222 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:213px;
	height:462px;
	position:absolute;
	left:576px;
	top:63px;
}
.e37_223 { 
	width:213px;
	height:40px;
	position:absolute;
	left:576px;
	top:485px;
}
.ei37_223_640_867 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:213px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei37_223_640_869 { 
	border-radius:500px;
	width:21.79534912109375px;
	height:21.728395462036133px;
	position:absolute;
	left:95.60232543945312px;
	top:8.88888931274414px;
}
.i37_223_640_869 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.ei37_223_640_870 { 
	transform: rotate(-90.12792956416124deg);
	width:24.69135856628418px;
	height:24.767440795898438px;
	position:absolute;
	left:35.22491455078125px;
	top:32.15365219116211px;
	border-radius:3px;
}
.i37_223_640_870 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.i37_223_640_872 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.ei37_223_640_872 { 
	width:21.79534912109375px;
	height:21.728395462036133px;
	position:absolute;
	left:153.0627899169922px;
	top:8.88888931274414px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.e37_224 { 
	background-color:rgba(194.68983381986618, 194.68983381986618, 194.68983381986618, 1);
	width:129px;
	height:34px;
	position:absolute;
	left:618px;
	top:376px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e37_225 { 
	color:rgba(0, 0, 0, 1);
	width:38px;
	height:14px;
	position:absolute;
	left:663px;
	top:386px;
	font-family:Roboto;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e37_226 { 
	background-color:rgba(194.68983381986618, 194.68983381986618, 194.68983381986618, 1);
	width:129px;
	height:34px;
	position:absolute;
	left:618px;
	top:430px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e37_227 { 
	color:rgba(0, 0, 0, 1);
	width:42px;
	height:14px;
	position:absolute;
	left:661px;
	top:440px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e37_228 { 
	background-color:rgba(234.81250405311584, 234.81250405311584, 234.81250405311584, 1);
	width:161px;
	height:161px;
	position:absolute;
	left:602px;
	top:129px;
}
.e37_228 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e37_229 { 
	transform: rotate(45deg);
	width:227.1360626220703px;
	height:0px;
	position:absolute;
	left:602.61376953125px;
	top:128.92919921875px;
}
.e37_229 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e37_230 { 
	transform: rotate(-45deg);
	width:226.4350128173828px;
	height:0px;
	position:absolute;
	left:601.622314453125px;
	top:288.5472412109375px;
}
.e37_230 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e37_231 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:14px;
	position:absolute;
	left:668px;
	top:229px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e36_158 { 
	background-color:rgba(255, 255, 255, 1);
	width:842px;
	height:595px;
	position:absolute;
	left:0px;
	top:2975px;
}
.e36_159 { 
	width:842px;
	height:183px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei36_159_0_360 { 
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:842px;
	height:183px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei36_159_0_362 { 
	box-shadow:0px 2px 4px rgba(0, 0, 0, 0.05000000074505806);
	color:rgba(0, 0, 0, 1);
	width:711px;
	height:50px;
	position:absolute;
	left:63px;
	top:63px;
	font-family:Circe;
	text-align:left;
	font-size:54px;
	letter-spacing:0;
	line-height:px;
}
.e36_160 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:116px;
	height:24px;
	position:absolute;
	left:65px;
	top:437px;
	font-family:Circe;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e36_161 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:129px;
	height:24px;
	position:absolute;
	left:65px;
	top:207px;
	font-family:Circe;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e36_162 { 
	color:rgba(56.705162823200226, 56.705162823200226, 56.705162823200226, 1);
	width:371px;
	height:107px;
	position:absolute;
	left:65px;
	top:467px;
	font-family:Circe;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e36_163 { 
	color:rgba(56.705162823200226, 56.705162823200226, 56.705162823200226, 1);
	width:372px;
	height:167px;
	position:absolute;
	left:65px;
	top:237px;
	font-family:Circe;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e36_164 { 
	border:1px solid rgba(231.93826228380203, 231.93826228380203, 231.93826228380203, 1);
}
.e36_164 { 
	width:373px;
	height:2px;
	position:absolute;
	left:65px;
	top:415px;
}
.e37_242 { 
	background-color:rgba(255, 255, 255, 1);
	width:259px;
	height:550px;
	position:absolute;
	left:532px;
	top:24px;
}
.e37_243 { 
	width:158px;
	height:158px;
	position:absolute;
	left:583px;
	top:124px;
	background-image:url(images/nextlogov5_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_244 { 
	width:150.7554931640625px;
	height:30.151098251342773px;
	position:absolute;
	left:586.27197265625px;
	top:406.8172607421875px;
}
.e37_245 { 
	background-color:rgba(0, 191.00000381469727, 178.00000458955765, 1);
	width:150.7554931640625px;
	height:30.151098251342773px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e37_246 { 
	color:rgba(255, 255, 255, 1);
	width:62.111263275146484px;
	height:28.34203338623047px;
	position:absolute;
	left:44.623626708984375px;
	top:0.6030219793319702px;
	font-family:Circe;
	text-align:left;
	font-size:32px;
	letter-spacing:5;
}
.e37_247 { 
	width:150.7554931640625px;
	height:47px;
	position:absolute;
	left:586.27197265625px;
	top:398px;
}
.e37_248 { 
	background-color:rgba(0, 191.00000381469727, 178.00000458955765, 1);
	width:150.7554931640625px;
	height:30.151098251342773px;
	position:absolute;
	left:0px;
	top:8.8172607421875px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e37_249 { 
	color:rgba(255, 255, 255, 1);
	width:103px;
	height:47px;
	position:absolute;
	left:23.72802734375px;
	top:0px;
	font-family:Circe;
	text-align:left;
	font-size:32px;
	letter-spacing:5;
}
.e37_250 { 
	width:150.7554931640625px;
	height:47px;
	position:absolute;
	left:586.27197265625px;
	top:454px;
}
.e37_251 { 
	background-color:rgba(0, 191.00000381469727, 178.00000458955765, 1);
	width:150.7554931640625px;
	height:30.151098251342773px;
	position:absolute;
	left:0px;
	top:8.8983154296875px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e37_252 { 
	color:rgba(255, 255, 255, 1);
	width:112px;
	height:47px;
	position:absolute;
	left:19.72802734375px;
	top:0px;
	font-family:Circe;
	text-align:left;
	font-size:32px;
	letter-spacing:5;
}
.e37_253 { 
	width:181px;
	height:41px;
	position:absolute;
	left:571px;
	top:309px;
	background-image:url(images/nextlogotext_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_254 { 
	width:259px;
	height:30px;
	position:absolute;
	left:532px;
	top:533px;
}
.ei37_254_241_1080 { 
	background-color:rgba(255, 255, 255, 1);
	width:259px;
	height:29.999969482421875px;
	position:absolute;
	left:0px;
	top:0.00005244556814432144px;
}
.ei37_254_241_1083 { 
	transform: rotate(-90.12803106959132deg);
	width:17.99997901916504px;
	height:18.06976890563965px;
	position:absolute;
	left:68.70540618896484px;
	top:18.03997039794922px;
	border-radius:3px;
}
.i37_254_241_1083 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.i37_254_241_1082 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.ei37_254_241_1082 { 
	width:12.0465087890625px;
	height:11.99998664855957px;
	position:absolute;
	left:174.0720977783203px;
	top:2.9999969005584717px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.ei37_254_241_1081 { 
	border-radius:500px;
	width:12.0465087890625px;
	height:11.99998664855957px;
	position:absolute;
	left:123.47674560546875px;
	top:3.000028371810913px;
}
.i37_254_241_1081 { 
	border:3px solid rgba(0, 0, 0, 1);
}
